.main {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.pattern {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  text-align: center !important;
}

.menu {
  display: flex;
  z-index: 200;
  flex-direction: row;
  align-items: center !important;
  text-align: center !important;
  padding-bottom: 32px;
}

.header {  
  text-align: center;
  align-items: center;
  color: rgb(132, 112, 112);
}

.headerText {
  text-align: center;
}

.timebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.timepoint {
  height: 16px;
  width: 64px;
  text-align: center;
  align-items: center;
  font-size: 15px;
}
.value {
  font-size: 32px;
  color: rgb(255, 170, 0);
  
}
.step {
  height: 48px;
  width: 64px;
  border: 1px;
  border-style: solid;
  align-items: center !important;
  text-align: center !important;
  background-color: rgb(0, 0, 0);
}

.activeStep {
  height: 48px;
  width: 64px;
  align-items: center;
  border: 1px;
  border-style: solid;
  text-align: center;
  background-color: rgb(255, 170, 0);
}
